*,
*::before,
*::after {
    box-sizing: border-box;
}

div.container {
    min-width: 320px;
    max-width: 1280px;
    
    margin: 0 auto;
    padding: 0 20px;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color:var(--black);
    background-color: var(--white);
}

section {
    margin: 0;
    margin-bottom: 120px;
}

.intro img {
    border-radius: 50%;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;

    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;

    margin: 0;
    margin-bottom: 40px;
}

button, a {
    font-family: 'Open Sans', "Arial", sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

p {
    margin: 0;
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

button {
    padding: 6px 10px 10px;
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: 8px;
}

button:hover {
    color: var(--white);
    background-color: var(--green);
}

p.subtitle {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;

    margin-top: 0;

    color:var(--green);
}

.main-header {
    display: flex;

    margin: 0;
    margin-bottom: 120px;
    padding-top: 60px;
    gap: 40px;

    align-items: center;

    line-height: 0;
}

.main-nav {
    display: flex;
}

.main-nav a {
    text-decoration: none;

    padding: 10px 15px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;


    text-align: center;

    color:var(--black);
}

.main-nav a:hover {
    color: var(--green);
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 70px;
}

.intro div {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20px;
}

.intro h1 {
    margin-bottom: 20px;
}

.text-wrapper {
    max-width: 800px;
}

.skill-about {
    display: flex;
    padding: 0;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 40px;
    gap: 40px;
    flex-wrap: wrap;
}

.skill-about h2 {
    margin: 0;
}

.skill-about div {
    display: flex;
    gap: 20px;
    align-items: center;
}

.skill-button p{
    margin-bottom: 0;
}

.skill-button {
    padding: 0;
    gap: 20px;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;

    text-transform: lowercase;
}

.skill-list dd{
    margin: 4px 0 20px 0;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--black);
    border-radius: 16px;
}

.skill-list div {
    height: 14px;
    background-color: var(--green);
    border-radius: 8px;

    margin-bottom: 0;
}

.contact {
    display: flex;
    margin: 0;
    list-style-type: none;
    gap: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    padding: 0;
}

.contact li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.contact a {
    display: block;
    padding: 5px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 42px;
    color: var(--black);
    text-transform: none;
    text-decoration: none;
    flex-wrap: wrap;
}

.contact a:hover {
    color: var(--green);
}

.contact-link_phone {
    background-image: url(../img/contactsicon-phone.svg);
}

.dark-theme .contact-link_phone{
    background-image: url(../img/dark-theme/phone.svg);
}

.contact-link_mail {
    background-image: url(../img/contactsicon-mail.svg);
}

.dark-theme .contact-link_mail{
    background-image: url(../img/dark-theme/email.svg);
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.social a {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--green);
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: 50%;
}

.social a:hover {
    background-color: var(--green);
}

.social-link_github {
    background-image: url(../img/property-github.svg);
}

.social-link_gitlab {
    background-image: url(../img/property-gitlab.svg);
}

.social-link_telegram {
    background-image: url(../img/property-telegram.svg);
}

.social-link_vk {
    background-image: url(../img/property-vk.svg);
}

.dark-theme .social-link:hover{
    background-color: var(--yellow);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-footer {
    color:var(--white);
    background-color: var(--black);

    padding: 50px 0 50px 0;
}

.nav-btn{
    display: none;       
}

:root {
    --black: #212121;
    --green: #09A494;
    --white: #FFFFFF;
}

.dark-theme{
    --black: #CCCCCC;
    --white: #031923;
}

.dark-theme .social-link{
    background-color: #CCCCCC;
}

.dark-theme .social-link:hover{
    background-color: var(--green);
}

@media screen and (max-width: 1024px) {   
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    h3 {
        font-size: 18px;
    }

    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subtitle {
        font-size: 28px;
    }
    button, a, body {
        font-size: 16px;
    }

    p.subtitle{
        font-size: 34px;
    }

    .intro img{
        width: 250px;
        height: 250px;
    }

    .main-header img {
        width: 60px;
        height: 60px;
    }

    .main-nav{
        padding: 10px 15px;
        gap: 10px;
    }

    .skill-about{
        margin-bottom: 40px;
    }

    .contacts, .interests, .skill, .about, .intro, .main-header {
        margin-bottom: 80px;
    }

    .main-nav{
        padding: 0;
        gap: 0;
    }
    .main-nav a{
        padding: 10px 15px 10px 15px;
        font-size: 16px;
    }

    .intro{
        gap:50px;
    }

    .contacts a{
        padding: 7px 0 7px 42px;
    }
}

@media screen and (max-width: 768px) {   

}

@media screen and (max-width: 650px) {   
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 16px;
    }

    .subtitle {
        font-size: 20px;
    }

    button, a, body {
        font-size: 14px;
    }

    .intro{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 30px;
    }
    
    .intro div p{
        font-size: 24px;
    }

    .intro img{
        width: 150px;
        height: 150px;
    }

    .main-header img {
        width: 40px;
        height: 40px;
    }

    .main-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0 0;
        gap: 20px;

    }

    .main-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 0;
    }

    .main-nav a{
        padding: 20px 30px;
        font-size: 14px;
        gap: 0;
        text-align: center;
    }

    .intro{
        text-align: center;
    }

    .intro h1{
        margin-bottom: 10px;
    }

    
    .nav-btn{
        display: block;
        width: 30PX;
        height: 30px;
        border: 0;
        border-radius: 0;
    }

    .nav-btn:hover{
        background-color: transparent;
    }

    .nav-btn_close{
        background-image: url(../img/close.svg);
    }

    .nav-btn_open{
        background-image: url(../img/burger.svg);
    }

    .main-header-wrap{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .skill-about{
        margin-bottom: 30px;
    }

    .contacts, .interests, .skill, .about, .intro, .main-header {
        margin-bottom: 60px;
    }

    .skill-button button{
        text-align: center;
    }

    .main-footer {
        padding: 30px 0 30px 0;
    }

    .contact{
        margin-bottom: 30px;
    }

    .contact a{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 48px;
    }

    .contacts a{
        padding: 7px 0 7px 42px;
    }

    .main-nav_closed{
        display: none;
    }
}

@media screen and (max-width: 380px) {   
    .skill-about{
        flex-direction: column;
        align-items: flex-start;
    }

    .skill-about div{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
    }
    .skill-about div button{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 360px) { 
    .contact{
        flex-direction: column;
        gap:15px;
        margin-bottom: 20px;
    }
    .contact li a{
        padding: 8px 0 8px 42px;
    }

    .contacts, .interests, .skill, .about, .intro, .main-header {
        margin-bottom: 50px;
    }

    .social{
        gap: 15px;
    }

    .skill-about{
        gap: 20px;
        line-height: 20px;
    }

    .skill-list dd{
        margin-top: 8px;
        margin-bottom: 22px;
    }
}